.sky {
  background: url('#{$assets_sky_path}/sky.png') no-repeat center center fixed;
  position: fixed;
  background-size: cover;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;

  &__top {
    background: url('#{$assets_sky_path}/sky_mid.png') center top;
    height: 65%;
    width: 110%;
    background-size: cover;
    position: fixed;
    left: -5%;
    :global {
      animation: swing_reverse 10s infinite;
    }
  }

  &__bottom {
    background: url('#{$assets_sky_path}/sky_bottom.png') center top;
    height: 45%;
    width: 110%;
    left: -5%;
    background-size: cover;
    position: fixed;
    :global {
      animation: swing 10s infinite;
    }
  }
}
