$assets_sky_path: './../assets/sky';
$assets_sprites_path: './../assets/sprites';
$assets_icons_path: './../assets/icons';
$assets_ponies_path: './../assets/ponies';

$border_radius: 255px 15px 225px 15px/15px 225px 15px 255px;

$color_merlin: #41403E;
$color_bluelagoon: #05778b;

$color_black2: rgba(0, 0, 0, .2);
$color_black3: rgba(0, 0, 0, .3);
$color_black6: rgba(0, 0, 0, .6);

$color_white2: rgba(255, 255, 255, .2);
$color_white6: rgba(255, 255, 255, .6);
