@import '~core/abstracts/abstracts.scss';

.screen {

  :global {
    animation: slide_in 2s forwards;
  }

  .battleground {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
